
<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
    <h5 class="font-popular-light"><span class="font-popular-medium">Election 2020</span></h5>
      <h1>How Amy Klobuchar performed at the Iowa Caucus</h1>
    <div class="byline">
      <address>By
        <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
      </address>
      <span class="spacer"></span>
      Star Tribune
      <span class="spacer-alt"></span>
      <time pubdate datetime="2019-11-11T16:00:00">February 4, 2020</time>
    </div>
    <p></p>
    <!-- share -->
  </section>
  

  <section class="container-lg">
    <p>Sen. Amy Klobuchar's campaign to convince Iowa's caucus voters of her presidential viability ended in TK results on Monday night.</p>

    <p>Klobuchar was allocated TK pledged delegates, finishing TK behind TK and TK.</p>

    <p>Despiting visit all 99 counties in Iowa, Klobuchar's support was strongest in the TK and TK parts of the state, which is more plainly revealed through precinct-level maps of the caucus results.</p>

    <p>The strength of Klobuchar's vote is shaded from <span class="legendary grayblue1">less</span> to <span class="legendary grayblue5">more</span>.</p>

    </section>

    <div class="slide" id="mainslide">


  <div class="map" id="map2">
    <div class="reset">Reset</div>
  </div>
  <div id="geocoder2" class="geocoder"></div>

  </div>


  <section class="container-lg">
      <p>When including all her rivals, Klobuchar's support gets mostly washed out amid strong performances by TK, TK and TK, with only the TK parts of the state still tilting in her direction.</p>

      <p>The map below shows how each Iowa precinct aligned after the second ballot.</p>

      <p>What these results indicate about next month's Super Tuesday contests on March 3 – which includes Klobuchar's constituents in Minnesota – remains to be seen.</p>

      </section>

      <div class="slide" id="mainslide">

        <div class="map" id="map">
          <div class="reset">Reset</div>
        </div>
        <div id="geocoder" class="geocoder"></div>
  
      <div class="contest-table">
        <table>
          <thead>
            <tr><th></th>
            <th class="cand">Candidate</th>
            <th class="DELEGATES">DELEGATES</th>
            <th class="pct">PCT</th>
            <th class="bar"></th></tr></thead>
  
            <tbody>
                <tr class="party-dem5 winner" title="party">
                    <td class="winner" title="">
                        <span class="check">✓</span>
                      </td>
                    <td class="cand">
                      <span class="first">Amy&nbsp;</span>Klobuchar
                      <span class="party-label"></span>
                    </td>
                    <td class="DELEGATES"><span>0</span></td>
                    <td class="pct"><span class="num">0%</span></td>
                    <td class="bar" title="party">
                      <span class="pctBar" style="width: 0%;"></span>
                    </td>
                </tr>
  
              <tr class="party-dem1" title="party">
                <td title="party">
                  <span class="candidate-color-label" title="party"></span>
                </td>
                <td class="cand">
                  <span class="first">Elizabeth&nbsp;</span>Warren
                  <span class="party-label"></span>
                </td>
                <td class="DELEGATES"><span>0</span></td>
                <td class="pct"><span class="num">0%</span></td>
                <td class="bar" title="party">
                  <span class="pctBar" style="width: 0%;"></span>
                </td>
            </tr>

            <tr class="party-dem3" title="party">
              <td title="party">
                <span class="candidate-color-label" title="party"></span>
              </td>
              <td class="cand">
                <span class="first">Bernie&nbsp;</span>Sanders
                <span class="party-label"></span>
              </td>
              <td class="DELEGATES"><span>0</span></td>
              <td class="pct"><span class="num">0%</span></td>
              <td class="bar" title="party">
                <span class="pctBar" style="width: 0%;"></span>
              </td>
          </tr>

          <tr class="party-dem2" title="party">
            <td title="party">
              <span class="candidate-color-label" title="party"></span>
            </td>
            <td class="cand">
              <span class="first">Joe&nbsp;</span>Biden
              <span class="party-label"></span>
            </td>
            <td class="DELEGATES"><span>0</span></td>
            <td class="pct"><span class="num">0%</span></td>
            <td class="bar" title="party">
              <span class="pctBar" style="width: 0%;"></span>
            </td>
        </tr>

        <tr class="party-dem4" title="party">
          <td title="party">
            <span class="candidate-color-label" title="party"></span>
          </td>
          <td class="cand">
            <span class="first">Pete&nbsp;</span>Buttigieg
            <span class="party-label"></span>
          </td>
          <td class="DELEGATES"><span>0</span></td>
          <td class="pct"><span class="num">0%</span></td>
          <td class="bar" title="party">
            <span class="pctBar" style="width: 0%;"></span>
          </td>
      </tr>

      <tr class="party-null" title="party">
        <td title="party">
          <span class="candidate-color-label" title="party"></span>
        </td>
        <td class="cand">
          <span class="first">Deval&nbsp;</span>Patrick
          <span class="party-label"></span>
        </td>
        <td class="DELEGATES"><span>0</span></td>
        <td class="pct"><span class="num">0%</span></td>
        <td class="bar" title="party">
          <span class="pctBar" style="width: 0%;"></span>
        </td>
    </tr>

    <tr class="party-null" title="party">
      <td title="party">
        <span class="candidate-color-label" title="party"></span>
      </td>
      <td class="cand">
        <span class="first">Michael&nbsp;</span>Bloomberg
        <span class="party-label"></span>
      </td>
      <td class="DELEGATES"><span>0</span></td>
      <td class="pct"><span class="num">0%</span></td>
      <td class="bar" title="party">
        <span class="pctBar" style="width: 0%;"></span>
      </td>
  </tr>

  <tr class="party-null" title="party">
    <td title="party">
      <span class="candidate-color-label" title="party"></span>
    </td>
    <td class="cand">
      <span class="first">Tom&nbsp;</span>Steyer
      <span class="party-label"></span>
    </td>
    <td class="DELEGATES"><span>0</span></td>
    <td class="pct"><span class="num">0%</span></td>
    <td class="bar" title="party">
      <span class="pctBar" style="width: 0%;"></span>
    </td>
</tr>


<tr class="party-null" title="party">
  <td title="party">
    <span class="candidate-color-label" title="party"></span>
  </td>
  <td class="cand">
    <span class="first">Andrew&nbsp;</span>Yang
    <span class="party-label"></span>
  </td>
  <td class="DELEGATES"><span>0</span></td>
  <td class="pct"><span class="num">0%</span></td>
  <td class="bar" title="party">
    <span class="pctBar" style="width: 0%;"></span>
  </td>
</tr>

<tr class="party-null" title="party">
  <td title="party">
    <span class="candidate-color-label" title="party"></span>
  </td>
  <td class="cand">
    <span class="first">John&nbsp;</span>Delaney
    <span class="party-label"></span>
  </td>
  <td class="DELEGATES"><span>0</span></td>
  <td class="pct"><span class="num">0%</span></td>
  <td class="bar" title="party">
    <span class="pctBar" style="width: 0%;"></span>
  </td>
</tr>


<tr class="party-null" title="party">
  <td title="party">
    <span class="candidate-color-label" title="party"></span>
  </td>
  <td class="cand">
    <span class="first">Tulsi&nbsp;</span>Gabbard
    <span class="party-label"></span>
  </td>
  <td class="DELEGATES"><span>0</span></td>
  <td class="pct"><span class="num">0%</span></td>
  <td class="bar" title="party">
    <span class="pctBar" style="width: 0%;"></span>
  </td>
</tr>


<tr class="party-null" title="party">
  <td title="party">
    <span class="candidate-color-label" title="party"></span>
  </td>
  <td class="cand">
    <span class="first">Michael&nbsp;</span>Bennet
    <span class="party-label"></span>
  </td>
  <td class="DELEGATES"><span>0</span></td>
  <td class="pct"><span class="num">0%</span></td>
  <td class="bar" title="party">
    <span class="pctBar" style="width: 0%;"></span>
  </td>
</tr>
            </tbody>
        </table>
  </div>
    </div>


      <section class="container-lg">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

    </section>


    <div class="slide" id="spill">

      <div id="canContain">
        <div class="canBlock">
          <div class="canLabel green3">Bernie Sanders</div>
          <div class="tinymap" id="tinymap0"><svg width="300" height="200" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
        </div>

        <div class="canBlock">
            <div class="canLabel orange3">Joe Biden</div>
            <div class="tinymap" id="tinymap1"><svg width="300" height="200" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
        </div>

        <div class="canBlock">
          <div class="canLabel blue3">Amy Klobuchar</div>
          <div class="tinymap" id="tinymap2"><svg width="300" height="200" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
        </div>

        <div class="canBlock">
            <div class="canLabel purple3">Elizabeth Warren</div>
            <div class="tinymap" id="tinymap3"><svg width="300" height="200" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
        </div>

        <div class="canBlock">
            <div class="canLabel red3">Pete Buttigieg</div>
            <div class="tinymap" id="tinymap4"><svg width="300" height="200" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
        </div>

        <div class="canBlock ">
            <div class="canLabel gray4">Andrew Yang</div>
            <div class="tinymap" id="tinymap6"><svg width="300" height="200" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
        </div>

        <div class="canBlock">
            <div class="canLabel gray3">Tom Steyer</div>
            <div class="tinymap" id="tinymap5"><svg width="300" height="200" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
        </div>

        <div class="canBlock">
            <div class="canLabel gray3">Michael Bloomberg</div>
            <div class="tinymap" id="tinymap7"><svg width="300" height="200" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
        </div>

        <div class="canBlock">
            <div class="canLabel gray3">Deval Patrick</div>
            <div class="tinymap" id="tinymap8"><svg width="300" height="200" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
        </div>

        <div class="canBlock">
            <div class="canLabel gray3">Tulsi Gabbard</div>
            <div class="tinymap" id="tinymap9"><svg width="300" height="200" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
        </div>

        <div class="canBlock">
            <div class="canLabel gray3">Michael Bennet</div>
            <div class="tinymap" id="tinymap10"><svg width="300" height="200" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
        </div>

        <div class="canBlock">
            <div class="canLabel gray3">John Delaney</div>
            <div class="tinymap" id="tinymap11"><svg width="300" height="200" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
        </div>
      </div>
    </div>
    
<div class="slide"><p><span class="byline">Data source: Iowa Democratic Party, Iowa Secretary of State</span></p>
</div>

<section class="container-lg">

    <div class="article-author-contact">
      <div class="article-author-hcard">
          <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
          <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=How Amy Klobuchar performed at the Iowa Caucus9" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
          <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
          <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
    </div>
  </div>
</section>
</div>




<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      //
      // This looks like
      // <div class="share-placeholder">
      //   <!-- share -->
      // </div>
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>