<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
    <h5 class="font-popular-light"><span class="font-popular-medium">Election 2020</span></h5>
      <h1>How Amy Klobuchar performed at the Iowa Caucus</h1>
    <div class="byline">
      <address>By
        <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
      </address>
      <span class="spacer"></span>
      Star Tribune
      <span class="spacer-alt"></span>
      <time pubdate datetime="2019-11-11T16:00:00">February 10, 2020</time>
    </div>
    <p></p>
    <!-- share -->
  </section>
  

  <section class="container-lg">
    <p>Despite a chaotic Iowa Caucus night leading to days of <a href="http://www.startribune.com/dems-lay-a-big-caucus-egg-no-results-from-iowa-election/567547712/" target="_new">delayed results</a> and widespread controversy about their veracity, Minnesota's Sen. Amy Klobuchar still fell short of her hoped performance.</p>

    <p>Klobuchar has touted dominant electoral performances in Minnesota throughout <a href="http://www.startribune.com/how-amy-klobuchar-fared-in-trump-country/498035261/">places President Donald Trump won in 2016</a>. But that kind of support didn't translate into an Iowa victory, opening questions to how she'll do in Tuesday's New Hampshire Primary, where voter demographics are similar.</p>

    <p>Her campaign to convince Iowa's Democratic balloters of her presidential viability ended with a fifth-place finish, and she was allocated <a href="https://results.thecaucuses.org/" target="new_">a single pledged national delegate</a> for the Democratic National Convention in Milwaukee this July.</p>

    <p>Despite visiting all 99 counties in Iowa, Klobuchar's support was strongest in rural and some suburban areas, while beeing mostly shut out of larger cities like Des Moines and Cedar Rapids, which is more plainly revealed through precinct-level maps of the caucus results.</p>
  </section>

    <div class="slide" id="mainslide">

      <div id="mainlegend">State Delegate Equivalents</div>
  <div class="legend"><div class="white">0</div><div class="null"></div><div class="blue1"></div><div class="blue2"></div><div class="blue3"></div><div class="blue4"></div><div class="blue5"></div><div class="white">1</div></div>


  <div class="map" id="map2">
    <div class="reset">Reset</div>
  </div>
  <div id="geocoder2" class="geocoder"></div>

  </div>

  <div class="pullout">
      <div id="mainlegend">Jump to city</div>
      <div class="adjacent" index="0">Des Moines</div> <div class="adjacent" index="1">Cedar Rapids</div>
      <div class="adjacent" index="2">Davenport</div> <div class="adjacent" index="3">Sioux City</div>
      <div class="adjacent" index="4">Iowa City</div> <div class="adjacent" index="5">Waterloo</div>
  </div>

  <section class="container-lg">
      <p>These maps only show Klobuchar's allocation of State Delegate Equivalents. When measured against <a href="https://www.nytimes.com/interactive/2020/02/03/us/elections/results-iowa-caucus-precinct-map.html?action=click&module=ELEX_results&pgtype=Interactive&region=Component" target="_new">all her rivals</a>, she primarily led tallies in sparsely-populated areas of the state, while being washed out nearly everywhere else.</p>

      <p>Though New Hampshire polls show a slight surge for Klobuchar following Friday's DNC debate, she still lags behind party frontrunners like South Bend, Ind. Mayor Pete Buttigieg and Vermont Sen. Bernie Sanders, who each claimed victories amid Iowa's murky outcome. <a href="https://www.realclearpolitics.com/epolls/2020/president/nh/new_hampshire_democratic_presidential_primary-6276.html" target="new_">Some polls</a>, however, put Klobuchar ahead of both Massachusetts Sen. Elizabeth Warren and former Vice President Joe Biden, both of whom she trailed in Iowa.</p>

      <p>In Iowa, caucusgoers voted for their preferred candidate at each precinct, and those candidates reaching at least 15 percent moved onto another round. The results of the second round ended with candidates being granted State Delegate Equivalents based on a mathematical formula, which are then translated into pledged national delegates.</p>
 
        <p>New Hampshire, meanwhile, conducts a more straightforward primary, where 24 national delegates are awarded among candidates proportionally based on their performance.</p>
        
        <p>Following the controversies surrounding Iowa's outcome, New Hampshire's vote is something of a reset for the Democratic campaigns and may offer Klobuchar a fresh chance at a stronger showing in the type of purple state where she's argued her electoral advantage lies.</p>
  </section>
    
<div class="slide"><p><span class="byline">Data source: Iowa Democratic Party, Iowa Secretary of State, Associated Press</span></p>
</div>

<section class="container-lg">

    <div class="article-author-contact">
      <div class="article-author-hcard">
          <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
          <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=How Amy Klobuchar performed at the Iowa Caucus9" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
          <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
          <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
    </div>
  </div>
</section>
</div>




<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      //
      // This looks like
      // <div class="share-placeholder">
      //   <!-- share -->
      // </div>
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>

<!-- 


  <section class="container-lg">
    <p>&nbsp;</p>
      <p>When including all her rivals, Klobuchar's support gets washed out amid strong performances by Sanders, Buttigieg and Warren, who often were locked in ties for SDE totals.</p>

      <p>Controversy has continued</p>

      <p>All remaining Democratic candidates, including Klobuchar, are already in New Hampshire for tomorrow's primary, the next in a series of weekly races leading to March 3rd's Super Tuesday contests that include Minnesota.</p>

      </section>

      <div class="slide" id="mainslide">

        <div class="map" id="map">
          <div class="reset">Reset</div>
        </div>
        <div id="geocoder" class="geocoder"></div>
  </div>

  <div class="slide">
      <div class="contest-table">
        <table>
          <thead>
            <tr><th></th>
            <th class="cand">Candidate</th>
            <th class="delegates">DEL</th>
            <th class="delegates">SDE</th>
            <th class="pct">PCT</th>
            <th class="bar"></th></tr></thead>
  
            <tbody>

                <tr class="party-dem2" title="party">
                  <td title="party">
                      <span class="candidate-color-label" title="party"></span>
                    </td>
                        <td class="cand">
                          <span class="first">Pete&nbsp;</span>Buttigieg
                          <span class="party-label"></span>
                        </td>
                        <td class="delegates"><span>13</span></td>
                        <td class="delegates"><span>564</span></td>
                        <td class="pct"><span class="num">26.2%</span></td>
                        <td class="bar" title="party">
                          <span class="pctBar" style="width: 26.2%;"></span>
                        </td>
                  </tr>

              <tr class="party-dem3" title="party">
                <td title="party">
                    <span class="candidate-color-label" title="party"></span>
                  </td>
                <td class="cand">
                  <span class="first">Bernie&nbsp;</span>Sanders
                  <span class="party-label"></span>
                </td>
                <td class="delegates"><span>12</span></td>
                <td class="delegates"><span>562</span></td>
                <td class="pct"><span class="num">26.1%</span></td>
                <td class="bar" title="party">
                  <span class="pctBar" style="width: 26.1%;"></span>
                </td>
            </tr>


          <tr class="party-dem1" title="party">
              <td title="party">
                <span class="candidate-color-label" title="party"></span>
              </td>
              <td class="cand">
                <span class="first">Elizabeth&nbsp;</span>Warren
                <span class="party-label"></span>
              </td>
              <td class="delegates"><span>8</span></td>
              <td class="delegates"><span>387</span></td>
              <td class="pct"><span class="num">18.0%</span></td>
              <td class="bar" title="party">
                <span class="pctBar" style="width: 18%;"></span>
              </td>
          </tr>


          <tr class="party-dem4" title="party">
            <td title="party">
              <span class="candidate-color-label" title="party"></span>
            </td>
            <td class="cand">
              <span class="first">Joe&nbsp;</span>Biden
              <span class="party-label"></span>
            </td>
            <td class="delegates"><span>6</span></td>
            <td class="delegates"><span>341</span></td>
            <td class="pct"><span class="num">15.8%</span></td>
            <td class="bar" title="party">
              <span class="pctBar" style="width: 15.8%;"></span>
            </td>
        </tr>

          <tr class="party-dem5" title="party">
              <td title="party">
                <span class="candidate-color-label" title="party"></span>
              </td>
              <td class="cand">
                  <span class="first">Amy&nbsp;</span>Klobuchar
                  <span class="party-label"></span>
                </td>
                <td class="delegates"><span>1</span></td>
                <td class="delegates"><span>264</span></td>
                <td class="pct"><span class="num">12.3%</span></td>
                <td class="bar" title="party">
                  <span class="pctBar" style="width: 12.3%;"></span>
                </td>
          </tr>

        <tr class="party-dem6" title="party">
            <td title="party">
              <span class="candidate-color-label" title="party"></span>
            </td>
            <td class="cand">
              <span class="first">Andrew&nbsp;</span>Yang
              <span class="party-label"></span>
            </td>
            <td class="delegates"><span>0</span></td>
            <td class="delegates"><span>22</span></td>
            <td class="pct"><span class="num">1.0%</span></td>
            <td class="bar" title="party">
              <span class="pctBar" style="width: 1%;"></span>
            </td>
          </tr>

          <tr class="party-null" title="party">
            <td title="party">
              <span class="candidate-color-label" title="party"></span>
            </td>
            <td class="cand">
              <span class="first">Tom&nbsp;</span>Steyer
              <span class="party-label"></span>
            </td>
            <td class="delegates"><span>7</span></td>
            <td class="delegates"><span>5</span></td>
            <td class="pct"><span class="num">0.3%</span></td>
            <td class="bar" title="party">
              <span class="pctBar" style="width: 0.3%;"></span>
            </td>
        </tr>


        <tr class="party-null" title="party">
          <td title="party">
            <span class="candidate-color-label" title="party"></span>
          </td>
          <td class="cand">
            <span class="first">UNCOMMITTED&nbsp;</span>
            <span class="party-label"></span>
          </td>
          <td class="delegates"><span>0</span></td>
          <td class="delegates"><span>4</span></td>
          <td class="pct"><span class="num">0.2%</span></td>
          <td class="bar" title="party">
            <span class="pctBar" style="width: 0.2%;"></span>
          </td>
        </tr>


      <tr class="party-null" title="party">
          <td title="party">
            <span class="candidate-color-label" title="party"></span>
          </td>
          <td class="cand">
            <span class="first">Other&nbsp;</span>
            <span class="party-label"></span>
          </td>
          <td class="delegates"><span>0</span></td>
          <td class="delegates"><span>1</span></td>
          <td class="pct"><span class="num">0%</span></td>
          <td class="bar" title="party">
            <span class="pctBar" style="width: 0%;"></span>
          </td>
        </tr>


      <tr class="party-null" title="party">
        <td title="party">
          <span class="candidate-color-label" title="party"></span>
        </td>
        <td class="cand">
          <span class="first">Deval&nbsp;</span>Patrick
          <span class="party-label"></span>
        </td>
        <td class="delegates"><span>0</span></td>
        <td class="delegates"><span>0</span></td>
        <td class="pct"><span class="num">0%</span></td>
        <td class="bar" title="party">
          <span class="pctBar" style="width: 0%;"></span>
        </td>
    </tr>

    <tr class="party-null" title="party">
      <td title="party">
        <span class="candidate-color-label" title="party"></span>
      </td>
      <td class="cand">
        <span class="first">Michael&nbsp;</span>Bloomberg
        <span class="party-label"></span>
      </td>
      <td class="delegates"><span>0</span></td>
      <td class="delegates"><span>0</span></td>
      <td class="pct"><span class="num">0%</span></td>
      <td class="bar" title="party">
        <span class="pctBar" style="width: 0%;"></span>
      </td>
  </tr>


<tr class="party-null" title="party">
  <td title="party">
    <span class="candidate-color-label" title="party"></span>
  </td>
  <td class="cand">
    <span class="first">Tulsi&nbsp;</span>Gabbard
    <span class="party-label"></span>
  </td>
  <td class="delegates"><span>0</span></td>
  <td class="delegates"><span>0</span></td>
  <td class="pct"><span class="num">0%</span></td>
  <td class="bar" title="party">
    <span class="pctBar" style="width: 0%;"></span>
  </td>
</tr>


<tr class="party-null" title="party">
  <td title="party">
    <span class="candidate-color-label" title="party"></span>
  </td>
  <td class="cand">
    <span class="first">Michael&nbsp;</span>Bennet
    <span class="party-label"></span>
  </td>
  <td class="delegates"><span>0</span></td>
  <td class="delegates"><span>0</span></td>
  <td class="pct"><span class="num">0%</span></td>
  <td class="bar" title="party">
    <span class="pctBar" style="width: 0%;"></span>
  </td>
</tr>



<tr class="party-null" title="party">
  <td title="party">
    <span class="candidate-color-label" title="party"></span>
  </td>
  <td class="cand">
    <span class="first">John&nbsp;</span>Delaney *
    <span class="party-label"></span>
  </td>
  <td class="delegates"><span>0</span></td>
  <td class="delegates"><span>0</span></td>
  <td class="pct"><span class="num">0%</span></td>
  <td class="bar" title="party">
    <span class="pctBar" style="width: 0%;"></span>
  </td>
</tr>



            </tbody>
        </table>
  </div>
    </div>

    <div class="slide"><p><span class="byline">* candidate withdrew prior to the caucus</span></p></div>



      <section class="container-lg">
      <p>On a county level, comparing Klobuchar's strength among the top six candidates reveals varied patterns of voter preference across the state of Iowa.</p>

    </section>


    <div class="slide" id="spill">

      <div id="canContain">
        <div class="canBlock">
          <div class="canLabel">Bernie Sanders</div>
          <div class="tinymap" id="tinymap0"><svg width="300" height="200" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
          <div class="legend">
            <div class="white">0</div><div class="green1"></div><div class="green2"></div><div class="green3"></div><div class="green4"></div><div class="green5"></div><div class="white">100</div>
          </div>
        </div>

        <div class="canBlock">
            <div class="canLabel">Pete Buttigieg</div>
            <div class="tinymap" id="tinymap4"><svg width="300" height="200" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
            <div class="legend"><div class="white">0</div><div class="aqua1"></div><div class="aqua2"></div><div class="aqua3"></div><div class="aqua4"></div><div class="aqua5"></div><div class="white">100</div></div>
        </div>

        <div class="canBlock">
            <div class="canLabel">Elizabeth Warren</div>
            <div class="tinymap" id="tinymap3"><svg width="300" height="200" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
            <div class="legend"><div class="white">0</div><div class="purple1"></div><div class="purple2"></div><div class="purple3"></div><div class="purple4"></div><div class="purple5"></div><div class="white">100</div></div>
        </div>

        <div class="canBlock">
            <div class="canLabel">Amy Klobuchar</div>
            <div class="tinymap" id="tinymap2"><svg width="300" height="200" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
            <div class="legend"><div class="white">0</div><div class="blue1"></div><div class="blue2"></div><div class="blue3"></div><div class="blue4"></div><div class="blue5"></div><div class="white">100</div></div>
          </div>
  
        <div class="canBlock">
            <div class="canLabel">Joe Biden</div>
            <div class="tinymap" id="tinymap1"><svg width="300" height="200" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
            <div class="legend"><div class="white">0</div><div class="teal1"></div><div class="teal2"></div><div class="teal3"></div><div class="teal4"></div><div class="teal5"></div><div class="white">100</div></div>
        </div>

        <div class="canBlock ">
            <div class="canLabel">Andrew Yang</div>
            <div class="tinymap" id="tinymap6"><svg width="300" height="200" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
            <div class="legend"><div class="white">0</div><div class="gray1"></div><div class="gray2"></div><div class="gray3"></div><div class="gray4"></div><div class="gray5"></div><div class="white">100</div></div>
          </div>

      </div>
    </div>
        <div class="canBlock">
            <div class="canLabel">Tom Steyer</div>
            <div class="tinymap" id="tinymap5"><svg width="300" height="200" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
            <div class="legend"><div class="white">0%</div><div class="gray1"></div><div class="gray2"></div><div class="gray3"></div><div class="gray4"></div><div class="gray5"></div><div class="white">50%+</div></div>     
          </div>

        <div class="canBlock">
            <div class="canLabel">Michael Bloomberg</div>
            <div class="tinymap" id="tinymap7"><svg width="300" height="200" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
            <div class="legend"><div class="white">0%</div><div class="gray1"></div><div class="gray2"></div><div class="gray3"></div><div class="gray4"></div><div class="gray5"></div><div class="white">50%+</div></div>        
          </div>

        <div class="canBlock">
            <div class="canLabel">Deval Patrick</div>
            <div class="tinymap" id="tinymap8"><svg width="300" height="200" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
            <div class="legend"><div class="white">0%</div><div class="gray1"></div><div class="gray2"></div><div class="gray3"></div><div class="gray4"></div><div class="gray5"></div><div class="white">50%+</div></div>        
          </div>

        <div class="canBlock">
            <div class="canLabel">Tulsi Gabbard</div>
            <div class="tinymap" id="tinymap9"><svg width="300" height="200" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
            <div class="legend"><div class="white">0%</div><div class="gray1"></div><div class="gray2"></div><div class="gray3"></div><div class="gray4"></div><div class="gray5"></div><div class="white">50%+</div></div>        
          </div>

        <div class="canBlock">
            <div class="canLabel">Michael Bennet</div>
            <div class="tinymap" id="tinymap10"><svg width="300" height="200" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
            <div class="legend"><div class="white">0%</div><div class="gray1"></div><div class="gray2"></div><div class="gray3"></div><div class="gray4"></div><div class="gray5"></div><div class="white">50%+</div></div>
        </div>

        <div class="canBlock">
            <div class="canLabel">John Delaney</div>
            <div class="tinymap" id="tinymap11"><svg width="300" height="200" viewbox="0 0 500 550" preserveaspectratio="xMidYMid"></svg></div>
            <div class="legend"><div class="white">0%</div><div class="gray1"></div><div class="gray2"></div><div class="gray3"></div><div class="gray4"></div><div class="gray5"></div><div class="white">50%+</div></div>
        </div> -->