<div class="strib-styles ssa ssb ssc">
  <section class="container-lg elex-header">
    <h5 class="font-popular-light"><span class="font-popular-medium">Election 2020</span></h5>
      <h1>How Amy Klobuchar performed at the Iowa Caucus</h1>
    <div class="byline">
      <address>By
        <a rel="author" href="http://www.startribune.com/jeff-hargarten/274254381/">Jeff Hargarten</a>
      </address>
      <span class="spacer"></span>
      Star Tribune
      <span class="spacer-alt"></span>
      <time pubdate datetime="2019-11-11T16:00:00">February 10, 2020</time>
    </div>
    <p></p>
    <!-- share -->
  </section>
  

  <section class="container-lg">
    <p>Despite last week's chaotic Iowa caucuses leading to days of <a href="http://www.startribune.com/dems-lay-a-big-caucus-egg-no-results-from-iowa-election/567547712/" target="_new">delayed results</a> and widespread controversy about their veracity, Minnesota's Sen. Amy Klobuchar still fell short of her hoped-for performance.</p>

    <p>Klobuchar has touted big victories in Minnesota elections, including in <a href="http://www.startribune.com/how-amy-klobuchar-fared-in-trump-country/498035261/">regions President Donald Trump won in 2016</a>. But that kind of support didn't translate into an Iowa victory, opening questions to how she might do in Tuesday's New Hampshire primary, where voter demographics are similar and she's rising in the polls.</p>

    <p>Her campaign to convince Iowa's Democratic voters of her presidential viability ended with a fifth-place finish, and she was allocated <a href="https://results.thecaucuses.org/" target="new_">a single pledged national delegate</a> for the Democratic National Convention in Milwaukee this July.</p>

    <p>Though she visited all 99 counties in Iowa, Klobuchar's support was strongest in rural and suburban areas, while being mostly shut out of larger cities like Des Moines and Cedar Rapids, which is more plainly revealed through precinct-level maps of the caucus results.</p>

    <p>This map shows Klobuchar's allocation of State Delegate Equivalents, which are assigned to candidates based on two rounds of voting from caucusgoers.</p>
  </section>

  <div class="slide" id="mainslide">

      <div id="mainlegend">State Delegate Equivalents</div>
      <div class="legend"><div class="white">0</div><div class="null"></div><div class="blue1"></div><div class="blue2"></div><div class="blue3"></div><div class="blue4"></div><div class="blue5"></div><div class="white">2</div></div>


  <div class="map" id="map2"></div>
    <div id="geocoder2" class="geocoder"></div>
  </div>

  <div class="pullout">
      <div id="mainlegend">Jump to city | <span class="reset">Reset view</span></div>
      <div class="adjacent" index="0">Des Moines</div> <div class="adjacent" index="1">Cedar Rapids</div>
      <div class="adjacent" index="2">Davenport</div> <div class="adjacent" index="3">Sioux City</div>
      <div class="adjacent" index="4">Iowa City</div> <div class="adjacent" index="5">Waterloo</div>
      <div class="adjacent" index="6">Ames</div> <div class="adjacent" index="7">Council Bluffs</div>
  </div>

  <div class="rule"></div>
  <section class="container-lg">
      <h2 class="chartTitle">More suburban than urban support</h2>
      <p>In a Klobuchar-only view, the map is very white, indicating precincts where her vote totals were so minimal she didn't even earn a fraction of a state delegate, which hurt her in populous urban centers like Des Moines.</p>

      <p>But her turnout was somewhat less spotty in Des Moines suburbs like Johnston and West Des Moines, along with less populated areas of Polk County.</p>
    </section>
    
      <div class="slide" id="mainslide">
          <div class="map" id="map">
              <div id="geocoder1" class="geocoder"></div>
          </div>
      </div>

      <div class="rule"></div>

      <section class="container-lg">
          <h2 class="chartTitle">Pockets of college town support</h2>
          <p>College towns like Ames and Iowa City provided some areas of higher turnout for Klobuchar, but often outside the actual bounds of those university campuses.</p>
      </section>

      <div class="slide" id="mainslide3">
          <div class="map" id="map3">
          </div>
      </div>

    <div class="rule"></div>
    <h2 class="chartTitle">Looking ahead to New Hampshire</h2>
    <section class="container-lg">
      <p>New Hampshire polls show a slight surge for Klobuchar following Friday's DNC debate, while still lagging behind party frontrunners like South Bend, Ind. Mayor Pete Buttigieg and Vermont Sen. Bernie Sanders, who each claimed victories amid Iowa's murky outcome.</p>

      <p><a href="https://www.realclearpolitics.com/epolls/2020/president/nh/new_hampshire_democratic_presidential_primary-6276.html" target="new_">Some surveys</a>, however, put Klobuchar ahead of both Massachusetts Sen. Elizabeth Warren and former Vice President Joe Biden, both of whom she trailed in Iowa.</p>
 
      <p>Following the controversies surrounding the tabulation of Iowa's results, New Hampshire's vote is something of a reset for the Democratic campaigns and may offer Klobuchar a fresh chance at a stronger showing in the type of purple state where she's argued her electoral advantage lies.</p>

        
  </section>
    
<div class="slide"><p><span class="byline">Data source: Iowa Democratic Party, Iowa Secretary of State, Associated Press</span></p>
</div>

<section class="container-lg">

    <div class="article-author-contact">
      <div class="article-author-hcard">
          <p></p><p><span style="font-size: 10pt; font-family: Arial;"><strong>Jeff Hargarten </strong>is a data journalist for the Star Tribune focusing on data-driven reporting and visualization. He has covered elections, technology, criminal justice, demographics and public health.</span></p><p></p>
          <p><a class="article-author-hcard__email" target="_blank" href="mailto:Jeff.Hargarten@startribune.com?subject=How Amy Klobuchar performed at the Iowa Caucus9" data-linkname="Jeff.Hargarten@startribune.com" data-linktype="email" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">Jeff.Hargarten@startribune.com</a>
          <a class="article-author-hcard__phone" href="tel:612-673-4642" data-linkname="612-673-4642" data-linktype="phone" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">612-673-4642</a>
          <a class="article-author-hcard__twitter" href="http://twitter.com/JeffHargarten" target="_blank" data-linkname="JeffHargarten" data-linktype="twitter" data-modulename="Article" data-moduletype="zone1-content" data-position="0-1-author">JeffHargarten</a></p>
    </div>
  </div>
</section>
</div>


<script>
  export default {
    oncreate() {
      // For content that lives in the CMS directly, we hack
      // around the share bits by removing it before we load
      // the component, then re-attach here.
      //
      // This looks like
      // <div class="share-placeholder">
      //   <!-- share -->
      // </div>
      if (this.get().attachShare) {
        this.get().attachShare();
      }
    }
  };
</script>

    <!-- <p>When measured <a href="https://www.nytimes.com/interactive/2020/02/03/us/elections/results-iowa-caucus-precinct-map.html?action=click&module=ELEX_results&pgtype=Interactive&region=Component" target="_new">against her rivals</a>, she primarily led tallies in sparsely-populated areas of Iowa, while being washed out nearly everywhere else.</p> -->
